
@font-face {
  font-family: 'PT Sans';
  src: url('../assets/fonts/PTS75F.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../assets/fonts/PTS55F.ttf');
  font-weight: 400;
  font-style: normal;
}