@import 'fonts';
@import 'variables';

.body-1 {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.red {
  color: $red
}

.big {
  font-size: 15px;
  line-height: 20px;
}

.small {
  font-size: 12px;
  line-height: 16px;
}

.gray {
  color: #9B9B9B;
  white-space: nowrap;
}

.smaller {
  font-size: 13px;
}

.bold {
  font-weight: 900;
}